/* Dark Theme */

/* General Colors */
$site-background-color: #49434b;
$site-ui-color:			#6b6065;
$headers-color: 		#ffffff;
$text-color: 			#bcb2c0;

/* Code Preview */
$code-background-color: #322e38;
$code-ui-color: 		#544d5d;
$code-base-text-color: 	#bcb2c0;
$code-base-hightlights: #ffffff;